body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #e8e6e1;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 10px;
    color: #333;
}

p {
    padding: 0 0 10px 0;
    margin: -10px 0 0 0;
    font-size: 12px;
}

#search-input {
    font-size: 1em;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

#search-input:focus {
    border-color: #007bff;
    outline: none;
}

#wedding-hall {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #333;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    width: 99%;
}

#dance-floor {
    width: 90%;
    height: 40%;
    border: 2px dashed #d1d1d1;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-top: 50px;
    color: #333;
}

.column,
.column2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.column2 {
    margin-bottom: 60px;
}

.center-column {
    justify-content: center;
}

.table {
    background-color: #f8f8f8;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.table h2 {
    margin-top: 0;
    font-size: 14px;
}

.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.guest {
    display: none;
    width: 100%;
    margin: 0 2px 10px 2px;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 15px;
    color: white;
}

.highlight {
    display: block;
    /* background-color: #ffeb3b; */
    background-color: #000000;

}

.table.inactive {
    border: 2px solid #007bff;
    opacity: 0.2;
    transform: scale(0.5);
}

.decorations {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.decoration {
    position: absolute;
    background-color: #d4aa89;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
}

#dj {
    top: 20px;
    right: 20px;
    width: 80px;
}

#drinks {
    bottom: 50px;
    left: 20px;
    width: 100px;
}

#stairs {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

#cold-plate {
    bottom: 50px;
    right: 20px;
    width: 100px;
}

#bride-table {
    left: 10px;
    bottom: 20%;
    transform: translateY(-50%);
    width: 20px;
    height: 150px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: column-reverse;
}

#bride-table .seats {
    margin-left: 5px;
}

#bride-table .guest {
    writing-mode: horizontal-tb;
    width: 40px;
    background-color: #000000;
}

#exit {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1{
        font-size: 20px;
    }
    #dance-floor {
        width: 80%;
        height: 25%;
        font-size: 1em;
    }

    .column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .table {
        width: 60px;
        height: 60px;
    }

    .guest {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    #wedding-hall {
        justify-content: flex-start;
    }

    #dance-floor {
        width: 96%;
        height: 20%;
        font-size: 0.9em;
    }

    .table {
        width: 50px;
        height: 50px;
        margin: 0;
        transform: scale(0.8);
    }

    .decoration {
        font-size: 10px;
        padding: 3px;
    }

    #dj {
        top: 35px;
        right: 20px;
        width: 40px;
    }
    
    #drinks {
        bottom: 50px;
        left: 20px;
        width: 60px;
    }
    
    #stairs {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
    }
    
    #cold-plate {
        bottom: 50px;
        right: 20px;
        width: 60px;
    }
    
    #bride-table {
        width: 15px;
        height: 120px;
    }
    
    #exit {
        width: 120px;
        height: 15px;
    }
}
