body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* border: 2px solid peru; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
}

.content {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin-top: 100px;
    height: auto;
}

.rectangle {
    position: absolute;
    background-color: #e8e6e1;
    z-index: -1;
}

.rectangle.left {
    left: 0;
}

.rectangle.right {
    right: 0;
}

.rectangle.center {
    left: 50%;
    transform: translateX(-50%);
}


.left-side {    
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    margin-left: -200px;
    /* background: linear-gradient(to bottom, #d4a989 0%, #d4aa89 50%, #cc8d56 100%);  */
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -10px;
    color: #d4aa89;
    letter-spacing: 5px;
}

h3 {
    font-size: 30px;
    font-weight: 300;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    list-style: none;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 3px;
}

.left-side ul {
    list-style: none;
}

ul {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

li{
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.button-cl {
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: -15px;
    align-self: center;
    background: linear-gradient(to bottom, #d4aa89 0%, #cc8d56 100%);
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    line-height: 2;
    letter-spacing: 5px;
    text-transform: uppercase;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-cl:hover {
    background: linear-gradient(to bottom, #cc8d56 0%, #b5763b 100%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.button-cl:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.message{
    margin: 0 0 30px 0;
}

.break{
    width: calc(100vw/4);
}

.right-side{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img{
    width: 400px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.info-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.info1 {
    display: flex;
    justify-content: center;
    background-color: #f7f5f1;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    margin: 10px;
    padding: 40px;
    /* background: linear-gradient(to bottom, #d4a989 0%, #d4aa89 50%, #cc8d56 100%);  */
}

.info1 h5 {
    margin-bottom: 10px;
}

.info1 p {
    margin-bottom: -10px;
}



@media screen and (max-width: 1400px) {
    .break{
        width: 300px;
    }
    .left-side {    
        width: 400px;
        margin-left: -200px;
    }

}

@media screen and (max-width: 1220px) {
    .info-section{
        flex-direction: column;
    }
}


@media screen and (max-width: 1150px) {
    .break{
        width: 300px;
    }
    .left-side {    
        margin-left: -100px;
    }
    .content {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1050px) {
    .break{
        width: 200px;
    }
    .left-side {    
        width: 300px;
        margin-left: -100px;
    }
    .left-side h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    
    .left-side h3 {
        font-size: 25px;
        font-weight: 300;
    }

    .right-side img{
        width: 300px;
    }
}



@media screen and (max-width: 780px) {
    .break{
        width: 0;
        display: none;
    }
    .content{
        flex-direction: column;
    }
    .left-side {  
        /* position: relative;   */
        width: 60%;
        margin-left: 0;
        padding: 20px 40px 20px 20px;
    }
    .left-side h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    
    .left-side h3 {
        font-size: 25px;
        font-weight: 300;
    }

    .left-side p {
        margin-top: -5px;
        font-size: 14px;
    }

    ul{
        font-size: 13px;
    }

    .right-side img{
        width: 250px;
    }
}

@media screen and (max-width: 380px) {
    .left-side {  
        margin-left: 0;
        padding: 20px 40px 20px 20px;
    }
    .left-side h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    
    .left-side h3 {
        font-size: 20px;
        font-weight: 300;
    }

    .left-side p {
        margin-top: -5px;
        font-size: 14px;
    }

    ul{
        font-size: 13px;
    }

    .right-side img{
        width: 200px;
    }
}


