/* body{
    margin: 0;
    background-color: #ffeeea;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
} */

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 90vh;
    /* border: 2px solid peru; */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% + 100px);
    height: calc(100% - 100px);
    background-color: #e8e6e1; /* Kolor kwadratu */
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% + 100px);
    width: calc(50% - 100px);
    height: 100%;
    background-color: #ffffff; /* Kolor reszty tła */
    z-index: -1;
}

.left-side {    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    margin-left: -200px;
}


h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -10px;
    color: #d4aa89;
    letter-spacing: 5px;
}

h3 {
    font-size: 30px;
    font-weight: 300;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

p, a {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 3px;
}

.button-a{
    background-color: #d4aa89;
    color: #e8e6e1;
    padding: 5px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

.text-a{
    color: black;
    transition: all 0.1s ease;
}

.text-a:hover{
    color: rgb(134, 134, 134);
}

.left-side ul {
    list-style: none;
}

ul {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

li{
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.break{
    width: 500px;
}

.right-side{
    /* border: 2px solid peru; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img{
    width: 400px;
}

.info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.info1 {
    background-color: #f7f5f1;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    width: auto;
    margin: 30px;
    padding: 40px;
}

.info1 h5 {
    margin-bottom: 10px;
}

.info1 p {
    margin-bottom: -10px;
}

#hidden-element {
    opacity: 0.02; /* Domyślna przezroczystość */
    transition: opacity 1s ease-in-out; /* Płynne przejście przy zmianie */
}

.inVisibleButtons{
    /* margin-bottom: 20px; */
    margin-top: -10px;
}

.inVisibleButton {
    color: #616161;
}

.invs {
    opacity: 0.02;
}

.img-in-faq{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.faq-answer .thing-faq {
    width: 40px;
    margin: 0 5px;
}

.faq-answer .arrow {
    width: 40px;
    margin: 0 5px 0 5px;
}

.koperta {
    width: 40px;
    margin-left: 10px;
}


/* BUTTON  */
/* -------------------------------------------------------------- */

.button-cl {
    padding: 5px 0;
    width: 60vw;
    max-width: 350px;
    margin-top: 15px;
    margin-bottom: 40px;
    /* margin-right: -15px; */
    align-self: center;
    /* background: linear-gradient(to bottom, #d4a989af 0%, #b48d6a9d 100%); */
    background: -webkit-linear-gradient(top, rgba(212, 169, 137, 0.69) 0%, rgba(180, 141, 106, 0.61) 100%); /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(top, rgba(212, 169, 137, 0.69) 0%, rgba(180, 141, 106, 0.61) 100%); /* Firefox 3.6+ */
    background: -o-linear-gradient(top, rgba(212, 169, 137, 0.69) 0%, rgba(180, 141, 106, 0.61) 100%); /* Opera 11.1+ */
    background: -ms-linear-gradient(top, rgba(212, 169, 137, 0.69) 0%, rgba(180, 141, 106, 0.61) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(212, 169, 137, 0.69) 0%, rgba(180, 141, 106, 0.61) 100%); /* Standard syntax */
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #e0dbdb;
    line-height: 2;
    letter-spacing: 5px;
    text-transform: uppercase;
    /* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons:hover {
    background: linear-gradient(to bottom, #c0936ba9 0%, #ebab6f8e 100%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.buttons:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */

/* FAQ */

.faq-container {
    width: 90%;
    /* max-width: 800px; */
    background-color: #f7f5f1;
    border-radius: 4px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin: 30px 30px 10px 30px;
}

.faq-container h5 {
    /* text-align: center; */
    margin-bottom: 20px;
    font-size: 20px;
    /* color: #333; */
}

.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #f9f9f9;
}

.faq-question p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.toggle-icon {
    font-size: 24px;
    transition: transform 0.3s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 16px;
    padding: 5px 15px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */

}

.faq-answer p {
    margin: 0;
    padding: 10px 0;
}

/* Responsywność */
@media (max-width: 600px) {
    .faq-container {
        padding: 15px;
        margin: 10px;
    }
    .faq-question h3 {
        font-size: 16px;
    }

    .faq-answer {
        font-size: 14px;
    }
    
}

/* -------------------------------------------------------------- */

.footer-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img img{
    width: 95%;
    margin: 0 10px;
    opacity: 0.3;
}




@media screen and (max-width: 1400px) {
    .break{
        width: 300px;
    }
    .left-side {    
        width: 400px;
        margin-left: -200px;
    }
    body::before {
        height: calc(100% - 50px);
    }
}

@media screen and (max-width: 1220px) {
    .info-section{
        flex-direction: column;
    }
}

@media screen and (max-width: 1050px) {
    .break{
        width: 200px;
    }
    .left-side {    
        width: 300px;
        margin-left: -100px;
    }
    .left-side h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    
    .left-side h3 {
        font-size: 25px;
        font-weight: 300;
    }

    .right-side img{
        width: 300px;
    }
    
}

@media screen and (max-width: 780px) {
    .footer-img{
        display: none;
    }
    .content{
        justify-content: flex-start;
        margin-top: 30px;
    }
    .break{
        width: 0;
    }
    .content{
        flex-direction: column;
    }
    .left-side {  
        margin-left: 0;
        padding: 20px 40px 20px 20px;
    }
    .left-side h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    
    .left-side h3 {
        font-size: 25px;
        font-weight: 300;
    }

    .left-side p {
        margin-top: -5px;
        font-size: 14px;
    }

    ul{
        font-size: 13px;
    }

    .right-side{
        margin-top: 20px;
    }

    .right-side img{
        width: 200px;
    }
    body::before {
        width: 90%;
    }
    
    body::after {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    
    .left-side {  
        width: auto;
        margin-left: 0;
        padding: 20px 40px 20px 20px;
    }
    .left-side h5 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -10px;
    }
    
    .left-side h3 {
        font-size: 20px;
        font-weight: 300;
    }

    .left-side p {
        margin-top: -5px;
        font-size: 14px;
    }

    ul{
        font-size: 13px;
    }

    .right-side img{
        width: 200px;
    }
    body::before {
        width: 90%;
    }
    
    body::after {
        display: none;
    }
    .info1 {
        margin: 20px;
    }
}